.calendar {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 2.22;
	cursor: pointer;
}
.calendar__input {
	display: none;
}
.calendar__selected-date {
	user-select: none;
	position: absolute;
	z-index: -1;
}
.calendar__three-days {
	user-select: none;
	position: absolute;
	color: #c2c2c2;
	z-index: -1;
	left: 145px;
}
.calendar__three-days_hidden {
	display: none;
}
.calendar__datepicker {
  padding: 25px 20px 30px 20px;
  color: black;
	position: absolute;
	top: 100%;
  width: 389px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-family: sans-serif;
  z-index: 9001;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  background: white;
}
.calendar__datepicker.calendar__datepicker-hidden {
  display: none;
}
.calendar__datepicker .calendar__datepicker-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}
.calendar__datepicker .calendar__datepicker-checkbox__input {
  display: none;
}
.calendar__datepicker .calendar__datepicker-checkbox__custom {
  border: 1px solid #4d7bd7;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  z-index: 10;
}
.calendar__datepicker .calendar__datepicker-checkbox__custom:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 6px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-radius: 1px;
  transform: rotate(-45deg);
  z-index: -1;
}
.calendar__datepicker .calendar__datepicker-checkbox__label {
  font-size: 16px;
  color: #345699;
  font-family: ProximaNovaSemibold;
  line-height: 20px;
  position: relative;
}
.calendar__datepicker .calendar__datepicker-checkbox__input:checked + .calendar__datepicker-checkbox__custom {
  background-color: #4d7bd7;
  transition: background-color 0.15s ease;
}
.calendar__datepicker .calendar__datepicker-controls {
  color: #345699;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.calendar__datepicker .calendar__datepicker-arrow {
  height: 38.9px;
  width: 38.9px;
  position: relative;
  cursor: pointer;
  border-radius: 7.78px;
  transition: background .15s;
}
.calendar__datepicker .calendar__datepicker-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}
.calendar__datepicker .calendar__datepicker-arrow:hover.calendar__datepicker-left:after {
  border-right-color: black;
}
.calendar__datepicker .calendar__datepicker-arrow:hover.calendar__datepicker-right:after {
  border-left-color: black;
}
.calendar__datepicker .calendar__datepicker-arrow:after {
  content: '';
  border: 9.725px solid transparent;
  position: absolute;
  top: 50%;
  transition: border .2s;
}
.calendar__datepicker .calendar__datepicker-arrow.calendar__datepicker-left:after {
  border-right-color: gray;
  right: 50%;
  transform: translate(25%, -50%);
}
.calendar__datepicker .calendar__datepicker-arrow.calendar__datepicker-right:after {
  border-left-color: gray;
  left: 50%;
  transform: translate(-25%, -50%);
}
.calendar__datepicker .calendar__datepicker-month-year {
  font-family: ProximaNovaSemibold;
  font-weight: 600;
  font-size: 18px;
}
.calendar__datepicker .calendar__datepicker-month-year:focus,
.calendar__datepicker .calendar__datepicker-month-year:active:focus {
  outline: none;
}
.calendar__datepicker .calendar__datepicker-month {
  padding-right: .5ex;
}
.calendar__datepicker .calendar__datepicker-year {
  padding-left: .5ex;
}
.calendar__datepicker .calendar__datepicker-squares {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 7.78px;
  filter: blur(0px);
  transition: filter .3s;
}
.calendar__datepicker .calendar__datepicker-square {
  width: 45px;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.calendar__datepicker .calendar__datepicker-square.calendar__datepicker-current {
  font-weight: bold;
}
.calendar__datepicker .calendar__datepicker-square.calendar__datepicker-active {
  color: white;
  background: #4d7bd7 !important;
}
.calendar__datepicker .calendar__datepicker-square.calendar__datepicker-disabled span {
  opacity: .2;
}
.calendar__datepicker .calendar__datepicker-square.calendar__datepicker-empty {
  cursor: default;
}
.calendar__datepicker .calendar__datepicker-square.calendar__datepicker-disabled {
  cursor: not-allowed;
}
.calendar__datepicker .calendar__datepicker-square.calendar__datepicker-day {
  cursor: default;
  color: #a1a1a1;
  font-family: ProximaNovaSemibold;
  font-size: 14px;
  font-weight: 600;
}
.calendar__datepicker .calendar__datepicker-square.num {
  font-family: ProximaNovaLight;
  font-size: 18px;
  font-weight: 300;
  color: #252525;
  margin-bottom: 5px;
}
.calendar__datepicker .calendar__datepicker-square:not(.calendar__datepicker-empty):not(.calendar__datepicker-disabled):not(.calendar__datepicker-day):hover {
  background: #eff5f8;
}
.calendar__datepicker .calendar__datepicker-num-range {
  background-color: #eff5f8;
  border-radius: 0 !important;
}
.calendar__datepicker .calendar__datepicker-num-range-left:not(.calendar__datepicker-active-range) {
  background-color: #eff5f8;
  border-radius: 50% 0 0 50% !important;
}
.calendar__datepicker .calendar__datepicker-num-range-right:not(.calendar__datepicker-active-range) {
  background-color: #eff5f8;
  border-radius: 0 50% 50% 0 !important;
}
.calendar__datepicker .calendar__datepicker-active-range {
  position: relative;
}
.calendar__datepicker .calendar__datepicker-active-range:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #eff5f8;
  z-index: -1;
}
.calendar__datepicker .calendar__datepicker-active-range.calendar__datepicker-num-range-left:before {
	border-radius: 50% 0 0 50%;
}
.calendar__datepicker .calendar__datepicker-active-range.calendar__datepicker-num-range-right:before {
	border-radius: 0 50% 50% 0;
}
